canvas{
  border: solid 1px pink;
  border-radius: 10px;
}
.body{
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  color: white;
  background-color: black;
}
.navs{
  background-color: yellow;
  width: 200px;
  height: 400px;
  margin-right: 30px;
  border-radius: 10px;
}
.controls{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  height: 400px;
  width: 200px;

  margin-left: 30px;
  border-radius: 10px;
}
h1{
  text-align: center;
}
