canvas{
  border: solid 1px pink;
  border-radius: 10px;
  background-color: black;
  background-image: url('images/background.jpg');
  background-size: 100% 100%;
}
.canvas-div{
  position: relative;
}
#lefty{
  margin-left: -20px;
  outline: none;
  width: 240px;
  height: 35px;
  padding-top: 10px;
  border-radius: 25px;
  margin-bottom: 10px;
  border: rgb(192, 192, 192) 2px outset;
  text-transform: uppercase;
}
#lefty:hover{
  background-color: #4d1111;
  cursor: pointer;
}
#lefty:active{
  background-color: #2d0808;

}
#mutey:hover{
  background-color: #4d1111;
  cursor:pointer;
}
#mutey:active{
  background-color: #2d0808;

}
#mutey{
  text-transform: uppercase;
  margin-left: -20px;
  outline: none;
  width: 240px;
  height: 35px;
  padding-top: 10px;
  border-radius: 25px;
  margin-bottom: 5px;
  border: rgb(192, 192, 192) 2px outset;
}
.body{
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  color: #ae872a;
  background-color: #271105;
}
button{
  border-radius: 25px;
  margin: 5px;
}
#start{
  color: #ae872a !important;
  border-radius: 25px;
  position: absolute;
  margin-top: -510px;
  margin-left: -6px;
 padding-top: 2%;
  font-size: 40px;
  font-weight: 900;
  z-index: 5;
  width: 515px;
  height: 500px;
  background-color: rgba(0, 0, 0, .5);
  color: #451606;
}
#lost{
  color: #ae872a !important;
  border-radius: 25px;
  position: absolute;
  margin-top: -510px;
  margin-left: -6px;
 padding-top: 2%;
  font-size: 40px;
  font-weight: 900;
  z-index: 5;
  width: 515px;
  height: 500px;
  background-color: rgba(0, 0, 0, .5);
  color: #451606;
}
.fa-volume-up{
  font-size: 20px;
}
.fa-pause{
  font-size: 20px;
}
.fa-github{
  font-size: 25px;
}
.fa-linkedin-square{
  font-size: 25px;
text-align: center;
}
.fa-angellist{
  font-size: 25px;
}
.fa-laptop{
  font-size: 25px;
  margin-left: -4px;
}
.fa-laptop:before{
  margin-left: -4px;
}
span{
  text-align: center;
  color: white;
}
.navs{
  background-color: #786128;
  color: #451606;
  width: 200px;
  height: 400px;
  margin-right: 30px;
  border-radius: 10px;
}
.controls{
  color: #451606;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #786128;
  height: 400px;
  width: 200px;

  margin-left: 30px;
  border-radius: 10px;
}
.controls div{
  display: flex;
}
h1{
  text-align: center;
  margin: 0;
}

body {
  font-family: 'Play', sans-serif;
  margin: 10px;
  text-align: center;
}
/*body > div {
  width: 33%;
  float: left;
}
body > div > div {
  margin-bottom: 15px;
}*/

.btn-1 {
  background-color: #451606;
}
.btn-1 .round {
  background-color: #651a12;
}

.btn-2 {
  background-color: #00AFD1;
}
.btn-2 .round {
  background-color: #00c4eb;
}

.btn-3 {
  background-color: #5A5B5E;
}
.btn-3 .round {
  background-color: #737478;
}

a {
  width: 150px;
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
a span {
  position: relative;
  z-index: 3;
}
a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
a .round i {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 50%;
  margin-left: -9px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.txt {
  font-size: 14px;
  line-height: 1.45;
}

.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.type-1 a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 a:hover .round i {
  left: 12%;
}

.type-2 a:hover .round {
  background: none;
}
.type-2 a:hover .round i {
  left: 70%;
}

.type-3 .round {
  background: transparent;
}
.type-3 a {
  position: relative;
  overflow: hidden;
}
.type-3 a.btn-1:after {
  background-color: #f59965;
}
.type-3 a.btn-2:after {
  background-color: #00c4eb;
}
.type-3 a.btn-3:after {
  background-color: #737478;
}
.type-3 a:after {
  content: "";
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 37px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.type-3 a:hover:after {
  right: 100%;
  width: 50%;
}
.type-3 a:hover i {
  margin-left: 4px;
}
